@model Store.MVC.ViewModels.CartVm
<li class="nav-item">
    <a class="nav-link" asp-controller="Cart" asp-action="Index">
        <i class="fas fa-shopping-cart"></i>
        <span>@Model.Count</span>
    </a>
</li>

